.errorcontainer {
    margin-top: 20vh;
    width: 30vw;
    justify-self: center;
    text-align: center;
    border: 5px solid transparent;
    border-radius: 15px;
    background: 
        linear-gradient(black) padding-box,
        linear-gradient(to right, orange, red) border-box;
}

#errormessage {
    border: transparent;
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}