html, body {
	height: 99%;
	background-color: black;
}

.titlebar {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 10px 20px;
	border: 5px solid transparent;
	border-radius: 15px;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, orange, red) border-box;
}

.menu-button {
	justify-self: start;
}

.menu-button button {
	cursor: pointer;
	background: none;
	border: none;
}

.modal-content {
	background-color: red
}

.close {
	font-size: 28px;
}

#menu-modal {
	display: none;
	positition: fixed;
	background-color: orange;
	outline: 3px solid red;
}

.show_modal {
	display: block;
	height: 10vh;
	width: 5vh;
	outline: 1px solid red;
	padding: 5px;
}

#title {
	justify-self: center;
	background: linear-gradient(to right, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#description {
	outline: 1px solid red;
	margin-top: 20vh;
	text-align: center;
	background: linear-gradient(to right, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

