html, body {
	height: 99%;
	background-color: black;
}

.titlebar {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 10px 20px;
	border: 5px solid transparent;
	border-radius: 15px;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, orange, red) border-box;
}

#menu-button {
	justify-self: start;
	background: None;
}

#menu-button button {
	background: none;
	border: none;
	width: 30px;
}

#title {
	justify-self: center;
	background: linear-gradient(to right, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#description {
	margin-top: 20vh;
	text-align: center;
	background: linear-gradient(to right, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
