main {
    justify-items: center;
}

.notecontainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 12vh;
    justify-items: center;
    }

.notecontainer label {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notecontainer #notetitle {
    border: 5px solid transparent;
    border-radius: 10px;
    width: 25vw;
    height: 20px;
}

.notecontainer #notetitlelabel {
    font-size: 30px;
}

.notecontainer #notetextlabel {
    font-size: 25px;
}

.notecontainer #notetext {
    border: 5px solid transparent;
    border-radius: 10px;
}

.notecontainer #notetextdiv {
    margin-top: 10px;
}

.notecontainer #addnote {
    cursor: pointer;
    background-color: black;
    border: none;
}