main {
    justify-items: center;
}

.notecontainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 12vh;
    justify-items: center;
    }

.notecontainer label {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notecontainer #notetitle {
    border: 5px solid transparent;
    border-radius: 10px;
    width: 25vw;
    height: 20px;
}

.notecontainer #notetitlelabel {
    font-size: 30px;
}

.notecontainer #notetextlabel {
    font-size: 30px;
}

.notecontainer #notetext {
    border: 5px solid transparent;
    border-radius: 10px;
}

.notecontainer #notetextdiv {
    margin-top: 10px;
}

.notecontainer #addnote {
    cursor: pointer;
    background-color: black;
    border: none;
}

main {
    color: red;
}

.titlecontainer {
    display: grid;
    position: absolute;
    margin-top: -60px;
    justify-self: left;
    justify-items: center;
    border: 5px solid transparent;
    border-radius: 15px;
    background: 
        linear-gradient(black) padding-box,
        linear-gradient(to right, orange, red) border-box;
    padding: 10px;
    width: 10vw;
}

.titlecontainer a {
    text-decoration: none;
    background: 
        linear-gradient(to right, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}