.user-grid {
    display: grid;
    width: 90vh;
    height: 50vh;
    grid-template-areas: 
    "name email"
    "location favorite-coffee";
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: 5px solid transparent;
	border-radius: 15px;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, orange, red) border-box;
}

.user-grid p {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-top: 10vh;
}

