#note-content {
    display: grid;
    justify-self: center;
    justify-items: center;
    margin-top: 12vh;
    width: 40vw;
    grid-template-columns: 1;
    row-gap: 15px;
}

.note {
    background: white;
    width: fit-content;
    text-align: center;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
        linear-gradient(white) padding-box,
        linear-gradient(to right, orange, red) border-box;
    
}